.postUploadBody {
    display: block;
    margin: 0 auto 0 auto;
    width: 99.99%;
    height: auto;
    border: .012em solid black;
    text-align: center;
    font-family: 'Century Schoolbook', 'Georgia', 'Arial';
}
.postUploadForm {
    border: .15em solid black;
    border-radius: 1em;
    margin: 2em auto 2em auto;
    width: 50%;
    display: grid;
    grid-template-areas: 'title' 'caption' 'postUploadButton';
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}
.postUploadForm > h1 {
    font-size: 2.50em;
    margin: 1em 0 0 0;
}
.title, .caption {
    display: block;
    width: auto;
}
.postUploadForm > div > input {
    display: inline-flex;
    width: 80%;
    height: 2.75em;
    outline-color: rgb(61, 114, 164);
    margin: 1em;
}
.postUploadForm > div > textarea {
    display: inline-flex;
    height: 1.75em;
    outline-color: rgb(61, 114, 164);
    margin: 1em;
    font-family: 'Century Schoolbook', 'Georgia', 'Arial';
    min-height: 30em;
    max-height: 30em;
    min-width: 80%;
    max-width: 80%;
}
.postUploadForm > div > input::placeholder, .postUploadForm > div > textarea::placeholder {
    color: rgb(61, 114, 164);
    font-weight: bold;
}
.postUploadForm > .postUploadButton {
    background-color: rgb(61, 114, 164);
    color: white;
    border: 0.15em black solid;
    width: 42%;
    height: 2em;
    font-family: 'Century Schoolbook', 'Georgia', 'Arial';
    font-size: 1em;
    font-weight: bold;
    margin: 1em auto 2em auto;
}
.postUploadForm > .postUploadButton:hover {
    border: 0.15em rgb(61, 114, 164) solid;
    background-color: white;
    color: black;
    cursor: pointer;
}
.postUploadForm > h2 > a {
    text-decoration: none;
    color: rgb(61, 114, 164);
}
.postUploadForm > h2 > a:hover {
    color: black;
    text-decoration: underline;
}
@media (max-width: 800px) {
    .postUploadBody{
        width: 100%;
    }
    .postUploadForm {
        width: 80%;
    }
    .postUploadForm > div > input + .postUploadForm > div > textarea {
        width: 75%
    }
    .postUploadForm > .postUpload {
        width: 77%;
    }
}