.footerBody {
    height: auto;
    width: 100%;
    display: block;
    margin: 0 auto 0 auto;
	text-align: center;
	background-color: rgb(61, 114, 164);
	color: white;
    border: .012em solid black;
    bottom:0;
}
.footerBody > .companyName {
    display: block;
    font-family: 'Century Schoolbook', 'Georgia', 'Arial';
    font-size: 2em;
    font-weight: bold;
    position: relative;
    text-align: center;
}
.footerBody > .contact {
    text-align: center;
}
.footerBody > .contact > .email {
    display: inline-block;
    font-size: 1em;
    margin: 1em 0 1em 0;
    position: relative;
    text-align: center;
}
.footerBody > .contact > .email > a {
	color: white;
    text-decoration: none;
}
.footerBody > .contact > .email > a:hover {
	color: black;
	background-color: white;
}
.footerBody > .contact > .cellNumber {
    display: inline-block;
    font-size: 1em;
    margin: 1em 0 1em 0;
    position: relative;
    text-align: center;
}
.footerBody > .contact > .cellNumber > a {
	color: white;
    text-decoration: none;
}
.footerBody > .contact > .cellNumber > a:hover {
	color: black;
	background-color: white;
}
